body{
	overflow: hidden;
}
.left-nav-show{
	-webkit-animation: left-nav-show .5s .01s ease both;
}
@-webkit-keyframes left-nav-show{
	0%{-webkit-transform:translateX(-100%);} 
	100%{-webkit-transform:translateX(0);}
}
.left-nav-hide{
	-webkit-animation: left-nav-hide .5s .01s ease both;
}
@-webkit-keyframes left-nav-hide{
	0%{-webkit-transform:translateX(0);} 
	100%{-webkit-transform:translateX(-100%);}
}

/* divBottomNav--------------------------------------------- */
#divBottomNav{
	width: 100%;
	text-align: center;
	background-color: #fff;
}
#divBottomNav-top > div{
	line-height: 35px;
	font-size: 15px;
	width: 80px;
	border-top: 2px solid #0000ff;
}
#divBottomNav-top > div[data-region=left]{
}
#divBottomNav-top > div[data-region=center]{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#divBottomNav-top > div[data-region=right]{
}

#spanDisplayFoodCount{
	background: #0000ff; 
	color: #fff; 
	font-weight: bold;
	visibility: hidden;
}
/* divNavKitchen--------------------------------------------- */
.divNavKitchen-item-select{
	background: rgba(0, 0, 255, .8) !important;
	color: #fff;
	font-weight: bold;
}
#divNavKitchen{
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 13px;
	-webkit-transform: translateX(-100%);
	z-index: 999 !important;
}

.div-l-n-title{
	line-height: 35px;
	border-bottom: 2px solid rgba(0, 0, 255, .8) !important;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	background-color: #fff;
}
#divNavKitchen-kitchen{
	overflow-y: auto;
	width: 120px;
	height: 100%;
	background-color: #eee;
}
#divNavKitchen-kitchen > div[data-r=body]{ overflow-y: auto;}
#divNavKitchen-kitchen > div[data-r=body] > div{
	width: 90%;
	line-height: 35px;
	border-bottom: 1px solid #f1f1f1;
	padding: 0 5% 0 5%;
	background-color: #fff;
}
#divNavKitchen-mask{
	height: 100%;
	background: rgba(0, 0, 0, .5);
}
/* divMainView--------------------------------------------- */
#divMainView{
	overflow: hidden;
	background-color: #eee;
	z-index: -1;
}
#divFoodList{
	overflow-y: auto;
}
#divOperateFoodPaging{
	width: 100%;
	line-height: 90px;
	text-align: center;
}
.box-food-list{
	width: 100%;
	min-height: 90px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}
.box-food-list > div[data-r=l]{
	width: 100px;
	height: 80px;
	padding: 3px 3px 3px 3px ;
}
.box-food-list > div[data-r=l] > div{
	border: 1px solid #eee;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}
.box-food-list-c{
	-webkit-box-flex: 1;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	font-size: 15px;
	margin: 9px 0 0 5px;
	color: #696969;
}
.box-food-list-c > div[data-r=t]{
	line-height: 24px;
}
.box-food-list-c > div[data-r=m]{
	line-height: 24px;
}
.box-food-list-c > div[data-r=b]{
	line-height: 24px;
}

.box-food-list-r{
	text-align: center;
	margin-right: 10px;
}
.box-food-list-r > div[data-r=l]{
	display: none;
	margin: 30px 1px 0 0;
	width: 35px;
	height: 30px;
	background: rgba(0, 0, 255, .8);
	font-size: 26px;
	color: #fff;
}
.box-food-list-r > div[data-r=r]{
	font-size: 50px;
	line-height: 90px;
	width: 35px;
	color: #ddd;
}
/* --------------------------------------------- */
#divShoppingCart{
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 13px;
	top: 0;
	left: 0;
	-webkit-transform: translateX(-100%);
	z-index: 999 !important;
	background-color: #eee;
}
#divShoppingCart > div{
	width: 100%;
}
#divFoodListForSC{
	overflow-y: auto;
}
#divSumForSC{
	border-top: 1px solid #aaa;
	background: rgba(255, 255, 255, 1);
	line-height: 28px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: #000;
}
#divButtonForSC{
}
#divButtonForSC > div{
	text-align: center;
	line-height: 35px;
	font-size: 15px;
	border-top: 2px solid #0000ff;
	margin-right: 2px;
	-webkit-box-flex: 1;
	background: #fff;
}

.div-fl-f-sc-box{
	background: #fff;
	border-bottom: 1px solid #ccc;
}
.div-fl-f-sc-box > div[data-type=msg] > div{
	padding-left: 10px;
	padding-top: 5px;
	color: #696969;
	font-size: 15px;
}

.div-fl-f-sc-box > div[data-type=cut], div[data-type=add]{
	width: 50px;
	color: #aaa;
	line-height: 50px;
	text-align: center;
	font-size: 60px;
	border-left: 1px solid #aaa;
}
.div-fl-f-sc-box > div[data-type=count]{
	width: 50px;
	font-size: 26px;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	background: rgba(0,0, 255, .8);
	color: #fff;
}
#spanSumCountForSC, #spanSumPriceForSC{
	color: #0000ff;
}
/* --------------------------------------------- */
#divMoveMenu{
	display: none;
	position: absolute;
	height: auto;
	width: 100px; 
	z-index: 999; 
	top:0; 
	left:0; 
	background: #fff; 
	border: 1px solid #ddd;
}
#divMoveMenu > div{
	width: 100%;
	text-align: center;
	line-height: 35px;
	border-bottom: 1px solid #ccc;
}
/* --------------------------------------------- */
#divFoodShowAbout{
	z-index: 99999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translateX(-100%);
}
.d-fsa-img > div{
	height: 200px;
	background: url(../../title-image.jpg);
	background-size: 100% 100%;
}
.d-fsa-msg{
	line-height: 30px;
	background: #ffffff;
}
.d-fsa-desc{
	background: #ffffff;
	padding: 5px 5px 5px 5px;
	font-size: 13px;
}
.d-fsa-mask{
	height: 100%;
	background: rgba(0, 0, 0, .5);
}