body{ overflow: hidden; }
div[data-type=body-bg]{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	//background: url(../../bg.jpg);
	//background-size: 100% 100%;
}

#divMainView{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	background-color: #eee;
	z-index: -1;
}
.mv-items{
	width: 94%;
	//background-color: #fff;
	margin: 3% 3% 0 3%;
}
#divLogo{
	height: 150px;
}
#divLogo > div{
	width: 100%;
	height: 100%;
	background: url(../../title-image.jpg);
	background-size: 100% 100%;
}

#divRestaurantInfo{
	//background: rgba(0, 0, 0, .6);
	background: #0000ff;
	line-height: 35px;
}
#divRestaurantInfo > div{
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	padding-left: 2%;
	padding-right: 2%;
}

#divMainNav{
	
}

#divMainNav > div{
	width: 100%;
}
.m-n-item{
	float: left;
	width: 47%;
	line-height: 30px;
	//border: 1px solid #ddd;
	background: #0000ff;
	color: #fff;
	font-size: 13px;
	padding: 1%;
	margin-bottom: 5px;
}
.m-n-item:nth-child(2n){
	margin-left: 2%;
}
.m-n-item:last-child{
	margin-bottom: 0;
}


.bbar-base{
	width: 100%;
}
.bbar-base > div{
	line-height: 35px;
	font-size: 15px;
	width: 80px;
	border-top: 2px solid #0000ff;
	margin-right: 1px;
	background-color: #fff;
	text-align: center;
}












/* .left-nav{
	line-height: 38px;
	margin-top: 10px;
	padding-left: 10px;
	font-size: 18px;
	width: 150px;
	background: -webkit-gradient(linear, 0 100%, 100% 100%, 
		color-stop(0, rgba(255, 255, 255, .6)), 
		color-stop(.5, rgba(255, 255, 255, .5)),
		color-stop(.6, rgba(255, 255, 255, .4)),
		color-stop(1, rgba(255, 255, 255, 0))
	);
}

#divRestaurantInfo{
	display: none;
	position: absolute;
	height: 100px;
	width: 150px;
	background: -webkit-gradient(linear, 100% 0, 100% 100%, 
		color-stop(0, rgba(255, 255, 255, .1)), 
		color-stop(.3, rgba(255, 255, 255, .7)),
		color-stop(.7, rgba(255, 255, 255, .7)),
		color-stop(1, rgba(255, 255, 255, .1))
	);
} */