.btn_search {
    background-image: url(../images/btnSearch.gif) !important;
}

.btn_add {
    background-image: url(../images/btnAdd.gif) !important;
}

.btn_delete {
    background-image: url(../images/btnDelete.png) !important;
}
.btn_error {
    background-image: url(../images/btnError.png) !important;
}
.btn_edit {
    background-image: url(../images/btnEdit.png) !important;
}

.btn_edit_all {
    background-image: url(../images/btnEditAll.png) !important;
}

.btn_refresh {
    background-image: url(../images/btnRefresh.png) !important;
}

.btn_save {
    background-image: url(../images/btnSave.png) !important;
}

.btn_close {
    background-image: url(../images/btnClose.png) !important;
}

.btn_cancel {
    background-image: url(../images/btnCancel.png) !important;
}

.btn_app {
    background-image: url(../images/btnApp.png) !important;
}

.btn_next {
    background-image: url(../images/btnNext.png) !important;
}

.btn_previous {
    background-image: url(../images/btnPrevious.png) !important;
}

.icon_tb_toggleAllGroups{
	background-image: url(../images/icon_tb_toggleAllGroups.png) !important;
}

.icon_tb_exoprt_excel{
	background-image: url(../images/icon_tb_export_excel.png) !important;
}

.icon_tb_setting{
	background-image: url(../images/icon_tb_setting.png) !important;
}

.icon_tb_taste{
	background-image: url(../images/icon_tb_taste.png) !important;
}

.icon_tb_print_all{
	background-image: url(../images/icon_tb_print_all.png) !important;
}

.icon_tb_print_detail{
	background-image: url(../images/icon_tb_print_detail.png) !important;
}

.icon_tb_recharge{
	background-image: url(../images/icon_tb_recharge.png) !important;
}

.icon_tb_add_to{
	background-image: url(../images/icon_tb_add_to.png) !important;
}

a{
	color: blue;
	text-decoration: none;
}
a:link { 
	text-decoration: none;
	color: blue;
}
a:hover { 
	text-decoration: underline;
	color: green;
}

.x-grid3-row td, .x-grid3-summary-row td{ 
	line-height : 19px;
	vertical-align : middle;
}
	
.x-grid3-row img, .x-grid3-summary-row img{ 
	vertical-align : middle;
}

.x-form-focus, textarea.x-form-focus{
	border : 1px solid #4881f3;
	background:#f9f9c0 repeat-x 0 0;
}