#tail,#print {
	font-weight: bold;
	font-size: 18px;
}

#shiftTitle {
	height: 40px;
	width: 450px;
	text-align: center;
	align: center;
	font-size: 15pt;
	font-family: 楷体, 楷体_GB2312;
	font-weight: bold;
}

#shiftContent {
	height: 30px;
	font-size: 12pt;
}

#shiftContentCheck {
	height: 20px;
	font-size: 11pt;
}


.shiftInfo {
	font-weight: bold;
}


.tab_icon {
     background-image:url(../images/icon_tb_setting.png) !important; 
}
.tab_home {
     background-image:url(../images/home.png) !important; 
}
.font{
	font-size: 18px;
	font-weight: bold;
	margin-top: 3px;
}
.tFont{
	font-size: 20px;
	font-weight: bolder;
	margin-top: 2px;
}