#wrap {
	float: left;
	width: 800px;
	overflow: hidden;
	height: 480px;
	position: relative;
}

#list {
	width: 10000%;
	position: absolute;
	left: 0px;
	top: 0px;
}

#left_btn {
	float: left;
	width: 100px;
	height: 180px;
	background: url(../images/left_btn.gif) no-repeat 50%;
	cursor: pointer;
	margin: 150px 0;
}

#right_btn {
	float: left;
	width: 100px;
	height: 180px;
	background: url(../images/right_btn.gif) no-repeat 50%;
	cursor: pointer;
	margin: 150px 0;
}

.item {
	float: left;
	width: 800px;
	height: 480px;
	overflow: hidden;
	background: #fff;
	background-color: #d8ebef;
}

.table_list li {
	float: left;
	display: block;
	width: 85px;
	height: 45px;
	padding-left: 13px;
	padding-top: 40px;
	margin-top: 20px;
	font-size: 13px;
	color: #fff;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
}

.table_list li.normal_null {
	background: url(../images/table_null_normal.png) no-repeat;
}

.table_list li.normal_on {
	background: url(../images/table_on_normal.png) no-repeat;
}

.table_list li.merge_on {
	background: url(../images/table_on_merge.gif) no-repeat;
}

.table_list li.package_on {
	background: url(../images/table_on_package.gif) no-repeat;
}

.table_list li.separate_on {
	background: url(../images/table_on_separate.png) no-repeat;
}

.table_list li.placeHolder {
	float: left;
	background: url(../images/table_on_normal.png) no-repeat;
	display: block;
	cursor: auto;
	overflow: hidden;
	width: 1px;
	height: 45px;
	padding-top: 40px;
	margin-top: 20px;
	filter: alpha(opacity =     0);
	opacity: 0.0;
}

#tableListPageCount.pageCount {
	text-align: center;
	padding-right: 40px;
	font-size: 18px;
	font-weight: bold;
	color: black;
}

#tableListRegionInfo.regionInfo {
	text-align: center;
	padding-right: 40px;
	padding-top: 20px; 
	font-size : 18px;
	font-weight: bold;
	color: black;
	font-size: 18px;
}