/*
替代原来1114行的按钮top 3px
*/
.ui-header .ui-btn-left,
.ui-header .ui-btn-right,
.ui-footer .ui-btn-left,
.ui-footer .ui-btn-right,
.ui-header-fixed.ui-fixed-hidden .ui-btn-left,
.ui-header-fixed.ui-fixed-hidden .ui-btn-right { position: absolute;top:initial;}

/*系统广告 start*/
.advertisementCmp{
	height: 50px;font-size: 20px;
}
.advertisementCmp .adv_logo{
	float: left;
}
.advertisementCmp .adv_msg{
	float: left;
	margin-left: 30px;
	padding-top: 8px;
}
.advertisementCmp .bb_btn{
	float: left;
	line-height: 25px;
	padding-top: 5px;
	border-radius:10px;
}
/*end 系统广告*/

/*登陆餐厅面板 start*/
.lgRestCmp{
	width: 450px;display: none;
}
.lgRestCmp input{
	font-size: 23px;font-weight: bold;
}
.lgRestCmp .div4Input{
	padding:0px 20px;
}
/*end 登陆餐厅面板*/

/*员工登陆面板 start*/
.loginStaffCmp{
	width: 450px;
	margin-top: 60px;
}
.loginStaffCmp .lgStaff_title{
	font-size: 30px;color:#f7c942
}
.loginStaffCmp .lgStaff_content{
	padding: 10px 40px;
	background-color: #111;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.loginStaffCmp .lgStaff_content .sName0Select{
	font-size: 25px;font-weight: bold;color: white;
}

/*end 员工登陆面板*/

/*选择登陆人面板 start*/
.selectStaffCmp{
	width:650px;
	border: initial;
}
.selectStaffCmp .content{
	max-height: 300px;
	background-color: white;
}
.selectStaffCmp .bar{
	height: 60px;display: none;
}

/*员工分页按钮*/
.staffsPaging{
	height: 58px !important;
	width: 80px !important;
}
.staffsPaging > span{
	padding: 23px 30px !important;
}

.loginName{
	width: 110px;
	float: left;
}
.loginName span[class=ui-btn-inner]{
	padding: .5em 10px;
	font-size: 25px;
}

.ln-selected{
	background-color: red !important;
}
/*end 选择登陆人面板*/

/*公告列表面板 start*/
.billboardCmp{
	width:650px;
	border: initial;
}
.billboardCmp .fixedHeight{
	max-height: 400px; 
	overflow-y: auto;
}
.billboardCmp .bb_content{
	min-height: 300px;
	background-color: white;
}
.billboardCmp .bb_bar{
	height: 45px;
}
/*公告已读按钮*/
.btnBillboard{
	height: 43px !important;
	width: 110px !important;
}
.btnBillboard > span{
	font-size: 20px !important;
}
/*end 公告列表面板*/



/*操作窗口的头高*/
.win_head{
	line-height: 35px;
}

/*弹出框按钮*/
.countPopbottomBtn{
	width: -webkit-calc(50% - 2px);
	width: -moz-calc(50% - 2px);
	width: -ms-calc(50% - 2px);
	width: -o-calc(50% - 2px);	
}
.countPopbottomBtn > span{
	font-size: 20px !important;
}