/*
替代原来1114行的按钮top 3px
*/
.ui-header .ui-btn-left,
.ui-header .ui-btn-right,
.ui-footer .ui-btn-left,
.ui-footer .ui-btn-right,
.ui-header-fixed.ui-fixed-hidden .ui-btn-left,
.ui-header-fixed.ui-fixed-hidden .ui-btn-right { position: absolute;top:initial;}


/*登陆人信息*/
.loginName{
	width: 110px;
	float: left;
}

.loginName span[class=ui-btn-inner]{
	padding: .5em 10px;
	font-size: 25px;
}

.ln-selected{
	background-color: red !important;
}

/*员工分页*/
.staffsPaging{
	height: 58px !important;
	width: 80px !important;
}
.staffsPaging > span{
	padding: 23px 30px !important;
}