<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>WirelessOrderWeb</display-name>
	<filter>
		<filter-name>whiteList</filter-name>
		<filter-class>com.wireless.filters.RequestFilter</filter-class>
		<init-param>
			<param-name>skipVerify</param-name>
			<param-value>
				/PersonLogin.html,
				/PersonLoginTimeout.html,
				/QueryStaff.do,
				/OperateStaff.do
			</param-value>
		</init-param>

	</filter>	
	<filter-mapping>
		<filter-name>whiteList</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>whiteList</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
<!--	
	<filter-mapping>
		<filter-name>filter</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
-->
	
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>com.wireless.Actions.init.InitServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<!-- Below is the configuration parameters to database adaptor -->
		<init-param>
			<param-name>db_name</param-name>
			<param-value>wireless_order_db</param-value>
		</init-param>
		<init-param>
			<param-name>db_host</param-name>
			<param-value>127.0.0.1</param-value>
		</init-param>
		<init-param>
			<param-name>db_port</param-name>
			<param-value>3306</param-value>
		</init-param>
		<init-param>
			<param-name>db_user</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>db_pwd</param-name>
			<param-value>root</param-value>
		</init-param>
		<!-- Below is the configuration parameters to socket -->
		<init-param>
			<param-name>socket_host</param-name>
			<param-value>127.0.0.1</param-value>
		</init-param>
		<init-param>
			<param-name>socket_port</param-name>
			<param-value>55555</param-value>
		</init-param>
		<init-param>
			<param-name>imageBrowseDefaultFile</param-name>
			<param-value>http://192.168.1.63:8080/WirelessOrderWeb/images/nophoto.jpg</param-value>
		</init-param>
		<init-param>
			<param-name>imageBrowsePath</param-name>
			<param-value>http://192.168.1.63:8080/WirelessOrderWeb/images/upload</param-value>
		</init-param>
		<init-param>
			<param-name>imageUploadPath</param-name>
			<param-value>F:\JavaDemo\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\WirelessOrderWeb\images\upload</param-value>
		</init-param>
		<init-param>
			<param-name>imageUploadMaxSize</param-name>
			<param-value>300</param-value>
		</init-param>
		<init-param>
			<param-name>imageUploadType</param-name>
			<param-value>jpg,gif,png,bmp</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>1</session-timeout>       <!-- 单位：分钟 -->
	</session-config>

	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>pages/TableSelect.html</welcome-file>
	</welcome-file-list>
</web-app>