<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>WirelessOrderWeb</display-name>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>com.wireless.Actions.init.InitServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<!-- Below is the configuration parameters to database adaptor -->
		<init-param>
			<param-name>db_name</param-name>
			<param-value>wireless_order_db</param-value>
		</init-param>
		<init-param>
			<param-name>db_host</param-name>
			<param-value>127.0.0.1</param-value>
		</init-param>
		<init-param>
			<param-name>db_port</param-name>
			<param-value>3306</param-value>
		</init-param>
		<init-param>
			<param-name>db_user</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>db_pwd</param-name>
			<param-value>root</param-value>
		</init-param>
		<!-- Below is the configuration parameters to socket -->
		<init-param>
			<param-name>socket_host</param-name>
			<param-value>127.0.0.1</param-value>
		</init-param>
		<init-param>
			<param-name>socket_port</param-name>
			<param-value>55555</param-value>
		</init-param>
		<init-param>
			<param-name>imageBrowseDefaultFile</param-name>
			<param-value>http://192.168.1.63:8080/WirelessOrderWeb/images/nophoto.jpg</param-value>
		</init-param>
		<init-param>
			<param-name>imageBrowsePath</param-name>
			<param-value>http://192.168.1.63:8080/WirelessOrderWeb/images/upload</param-value>
		</init-param>
		<init-param>
			<param-name>imageUploadPath</param-name>
			<param-value>F:\JavaDemo\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\WirelessOrderWeb\images\upload</param-value>
		</init-param>
		<init-param>
			<param-name>imageUploadMaxSize</param-name>
			<param-value>300</param-value>
		</init-param>
		<init-param>
			<param-name>imageUploadType</param-name>
			<param-value>jpg,gif,png,bmp</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>pages/TableSelect.html</welcome-file>
	</welcome-file-list>
</web-app>