
.x-window-footer { 
    position: relative; 
    top: 0; 
    right: 0; 
} 
.x-tab-strip SPAN.x-tab-strip-text { 
    font-size: 12px; 
} 
.x-panel-header { 
    font-size: 12px; 
} 
.x-tree-node { 
    font-size: 12px; 
} 
.x-grid3-hd-row TD { 
    font-size: 12px; 
} 
.x-grid3-row TD { 
    font-size: 12px; 
} 
.x-tip .x-tip-bd { 
    font-size: 12px; 
} 
.x-tip h3{ 
    font-size: 12px; 
} 
.x-tip .x-tip-bd-inner{ 
    font-size:12px; 
} 
.x-panel-tl .x-panel-header { 
    FONT: normal 12px tahoma,arial,verdana,sans-serif; 
} 
.x-form-field { 
    FONT: 12px tahoma,arial,helvetica,sans-serif    
} 
.x-small-editor .x-form-field { 
    FONT: 12px tahoma,arial,helvetica,sans-serif    
} 
.x-combo-list-item { 
    FONT: 12px tahoma,arial,helvetica,sans-serif;    
}    
.x-menu-list-item { 
    FONT: 12px tahoma,arial,sans-serif; 
} 
.x-window-tl .x-window-header { 
    FONT: bold 12px tahoma,arial,verdana,sans-serif;    
} 
.x-layout-split-west .x-layout-mini {    
    BACKGROUND-IMAGE: url(../images/mini-left.jpg);    
} 
.ext-ie .x-form-text { 
    margin-top:1px; 
} /* the textField missing bottom line */ 
.x-form-item {    
    FONT: 12px tahoma,arial,helvetica,sans-serif 
} 
.x-grid-group-hd DIV {    
    FONT: bold 12px tahoma,arial,helvetica,sans-serif; 
} 

..x-btn-text-icon .x-btn-center .x-btn-text {
		ext-all.css (line 227) 
		background-position:0pt 2px; 
		background-repeat:no-repeat; 
		padding:3px 0pt 2px 18px; 
} 
.ext-gecko .x-btn button {
		ext-all.css (line 222) 
		padding-left:0pt; 
		padding-right:0pt; 
} 
.x-btn button{ 
    font-size:12px; 
} 
.x-btn-text{ 
    font-size:12px; 
} 
.x-toolbar-cell label{
	font-size:12px; 	
}
.x-toolbar label{
	font-size:12px; 	
}
.x-toolbar-cell div{
	font-size:12px;
} 

.x-form-radio-wrap-inner .x-form-cb-label{
	font-size:12px;
}

.x-fieldset-header-text{
	font-size:12px; 
}

.x-column{
	font-size:12px; 
}

.x-toolbar .ytb-text{
	font-size:12px; 
}

.x-toolbar .x-paging-info{
	font-size:12px; 
}

.ytb-text span{
	font-size:12px; 
}

.x-panel-header x-tree-hd-text{
	font-size:12px; 
}

.x-panel-header x-tree-col-text{
	font-size:12px; 
}

.x-tree-headers .x-tree-hd-text{
	font-size:12px; 
}

.x-tree-col .x-tree-col-text{
	font-size:12px; 
}

.x-form-check-wrap-inner .x-form-cb-label{
	font-size:12px; 
}
.x-form-check-wrap .x-form-cb-label{
	font-size:12px; 
}