#divCreateOrder{
	background: #4682B4; 
}

#divNorthForCreateOrder{
	width: 100%; 
	height: 121px; 
	border-bottom: 1px solid #fff;
}

#divCenterForCreateOrde{
	width:100%; 
	box-flex: 1;
	-webkit-box-flex: 1;
}
#divSelectDeptForOrder div[class="button-base"]{
	margin-right: 1px;
	line-height: 60px;
}
#divSelectDeptForOrder{
	width: 100%; 
	overflow-y: auto;
	height: 60px;
}

#divSelectKitchenForOrder div[class="button-base"]{
	margin-right: 1px;
	line-height: 60px;
}
#divSelectKitchenForOrder{
	width: 100%; 
	overflow-y: auto;
	margin-top: 1px;
	height: 60px;
}

#divDescForCreateOrde{
	width: 100%;
	height: 25px;
	line-height: 25px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: #FFD700;
	text-align: right; 
	font-weight: bold;
}

#divSouthForCreateOrde{
	width:100%;
	line-height: 60px;
}

#divCFCOHandler{
	width: 80px; 
	border-left: 1px solid #fff; 
	border-right: 1px solid #fff; 
	text-align: center;
}
#divCFCOHandler div{
	width: 100%;
	line-height: 60px;
	margin-bottom: 1px;
}

#divCFCOAllFood{
	
}
/*
.divCFCOAllFood-main-box{
	width: 90px;
	height: 70px;
	margin: 5px 0 0 5px;
	float: left;
	background: #87CEEA;
	font-weight: bold;
	font-size: 16px;
	padding: 3px;
}
.divCFCOAllFood-main-box:active{ background: #FFD700; }
*/
.div-deptOrKitchen-select{
	line-height: 60px;
	color: #fff;
	background: #228B22 !important;
	margin-right: 1px;
}

#divCFCONewFood{
	width: 300px; 
	overflow-y: auto; 
	font-size: 20px;
}
#divCFCONewFood div[data-type="newFood-select"]{
	width: 100%; 
	border-bottom: 2px solid #ddd; 
	min-height: 70px; 
	background: #87CEEA;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 20px;
}
.div-newFood-select{
	color: #fff;
	background: #228B22 !important;
}

#divOperateBoxForFoodTaste{
	width: 640px; 
	height: 560px; 
	background: #4682B4;
	border: 1px solid #FFF;
}


#divSouthForOperateTaste{
	width:100%;
	line-height: 60px;
}




