#divMainForTableSelect, #divTableShowForSelect, #divRightForShowMessageTS{
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
}
#divMainForTableSelect{
	background-color: #4682B4;
	width: 100%;
	border-bottom: 1px solid #465224;
	overflow: hidden;
}
#divTableShowForSelect{
	z-index:1001;
	border-right: 1px solid #465224;
}
#divShowMessageForTableSelect{
	display: none;  
	position: absolute;  
	top: 25%;  
	left: 25%;  
	width: 515px;  
	height: 330px;  
	border: 2px solid #fff;  
	background-color: #6395EC;  
	z-index:1003;  
}
#divTopForShowMessageTS{
	margin: 5px;	
}
#divCenterForShowMessageTS{
	width: 100%;
	height: 68%;	
}
#divLeftForShowMessageTS{
	width: 37%;
	height: 100%;
}
#divRightForShowMessageTS{
	height: 100%;
}
#divSelectTableNumForTs{
	display: none;
	position: absolute;
	top: 25%;
	left: 35%;
	width: 350px;
	height: 430px;
	border: 2px solid #fff;
	background-color: #6395EC;
	z-index: 1004;
}
#divTopForSelectTableNumTS{
	wudth: 100%;
	height: 45px;
}
#divMainForSelectTableNumTS{
	width: 100%;
}
#divLeftForSelectTableNumTS{
	width: 75%;	
	height: 385px;
	float: left;
}
#divRightForSelectTableNumTS{
	height: 385px;
	float: left;
	width: 25%;
}
#divHideForTableSelect{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1002;
}
#divToolRightForSelect{
	background-color: #6395EC;
	width: 110px;
}
#divToolBottomForSelect{
	background-color: #6395EC;
	width: 100%;
	height: 60px;
	line-height: 60px;
}
#divFootForTableSelect{
	margin-top: 5px; 
	font-size: 15px; 
	font-weight: bold; 
	color: #A27600;
	height: 18px;
	width: 100%;
}
.desk-number{
	height: 59px; 
	width:110px; 
	margin: 3px; 
	font-size: 20px;
	background-color: #FFD700;
}
.table-number{
	height: 62px; 
	width:150px; 
	font-size: 28px;
	padding-left: 2px;
	background-color: #FFD700;
}

.table-base{
	margin: 5px;
	float: left;
	width: 90px;
	height: 70px;
	border:1px solid #333;
	background-color: #87CEEA;
	text-align: center;
}
.table-base:active{
	background: #4CB848;
}
.alert{
	
}

