.add_foot
{
    height: 188px;
    width: 342px;	
}
.title
{
    height: 30px;
    width: 342px;
}
.title_left
{
    background-color: #2a7d8d;
    float: left;
    height: 30px;
    width: 312px;
}
.title_right
{
    background-image: url(../images/pop_up.png);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    float: right;
}
.add_foot_Content
{
    height: 158px;
    width: 340px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #2a7d8d;
    border-bottom-color: #2a7d8d;
    border-left-color: #2a7d8d;
    background-position: center center;
	background-color:white;
}
.pop_action-span
{
    width: 118px;
    float: left;
    margin-left: 43px;
    margin-top: 15px;
}
.pop_action-span a
{
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 4px 5px 2px 23px;
    background: #DDEEF2 ;
    background-color: #80c1cc;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    text-align: center;
}
.pop_action-span a:hover
{
    background: #FFF ;
    color: #666;
    text-decoration: none;
    background-color: #ddeef2;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    font-weight: normal;
}
.pop_action-span1
{
    float: right;    
    width: 118px;
    margin-right: 43px;
    margin-top: 15px;
}
.pop_action-span1 a
{
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 4px 5px 2px 23px;
    background: #DDEEF2 ;
    background-color: #80c1cc;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    text-align: center;
}
.pop_action-span1 a:hover
{
    background: #FFF ;
    color: #666;
    text-decoration: none;
    background-color: #ddeef2;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    font-weight: normal;
}
.pop_action-span2
{
    width: 118px;
    float: left;
    margin-bottom: 15px;
    margin-left: 140px;
    margin-top: 15px;
}
.pop_action-span2 a
{
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 4px 5px 2px 23px;
    background: #DDEEF2 ;
    background-color: #80c1cc;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    text-align: center;
}
.pop_action-span2 a:hover
{
    background: #FFF ;
    color: #666;
    text-decoration: none;
    background-color: #ddeef2;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    font-weight: normal;
}
.pop_action-span3
{
    width: 118px;
    float: left;
    margin-bottom: 15px;
    margin-left: 120px;
    margin-top: 15px;
}
.pop_action-span3 a
{
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 4px 5px 2px 23px;
    background: #DDEEF2 ;
    background-color: #80c1cc;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    text-align: center;
}
.pop_action-span3 a:hover
{
    background: #FFF ;
    color: #666;
    text-decoration: none;
    background-color: #ddeef2;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    font-weight: normal;
}
.pop_Content
{
    text-align: center;
    padding-top: 15px;
}
.pop_Content1
{
	text-align: left;
	font-size: 14px;
	padding-top: 5px;
	color: #2a7d8d;
	padding-left: 53px;
}
.pop_Content2
{
    text-align: left;
    font-size: 14px;
    padding-top: 5px;
    color: #2a7d8d;
    padding-left: 53px;
}
.pop_Content3
{
    text-align: left;
    font-size: 14px;
    padding-top: 5px;
    color: #2a7d8d;
    padding-left: 64px;
}

.pop_Content4
{
    text-align: center;
    font-size: 14px;
    padding-top: 40px;
    color: #2a7d8d;
    padding-bottom: 30px;
}
.pop_Content5
{
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    color: #2a7d8d;
    padding-bottom: 25px;
}
.font
{
    font-size: 16px;
    font-weight: normal;
    color: #FFF;
    margin-left: 15px;
    line-height: 30px;
	text-align: left;
}
.font1
{
    font-size: 16px;
    font-weight: bold;
    color: #2a7d8d;
    text-align: center;
}
#Advanced_Search
{
    height: 188px;
    width: 540px;
}
#Advanced_Search .img
{
    height: 29px;
    width: 29px;
    background-image: url(../images/data.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    position: absolute;
    left: 393px;
    top: 52px;
}
#Advanced_Search .title
{
    height: 30px;
    width: 540px;
}
#Advanced_Search .title_left
{
    background-color: #2a7d8d;
    float: left;
    height: 30px;
    width: 510px;
}
#Advanced_Search .title_right
{
    background-image: url(../images/pop_up.png);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    float: right;
}
#Advanced_Search .Advanced_Search_Content
{
    height: 158px;
    width: 538px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #2a7d8d;
    border-bottom-color: #2a7d8d;
    border-left-color: #2a7d8d;
    background-position: center center;
	background-color:white;
}
#Advanced_Search .action-span
{
    width: 118px;
    float: left;
    margin-left: 140px;
    margin-top: 15px;
}
#Advanced_Search .action-span a
{
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 4px 5px 2px 23px;
    background: #DDEEF2 ;
    background-color: #80c1cc;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    text-align: center;
}
#Advanced_Search .action-span a:hover
{
    background: #FFF ;
    color: #666;
    text-decoration: none;
    background-color: #ddeef2;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    font-weight: normal;
}
#Advanced_Search .action-span1
{
    float: right;
    width: 118px;
    margin-right: 140px;
    margin-top: 15px;
}
#Advanced_Search .action-span1 a
{
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 4px 5px 2px 23px;
    background: #DDEEF2 ;
    background-color: #80c1cc;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    text-align: center;
}
#Advanced_Search .action-span1 a:hover
{
    background: #FFF ;
    color: #666;
    text-decoration: none;
    background-color: #ddeef2;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    font-weight: normal;
}
#Has_order
{
	height: 100%;
	width: 400px;
	overflow: visible;
}
#Has_order .title
{
	height: 30px;
	width: 400px;
}
#Has_order .title1
{
	height: 35px;
	width: 348px;
	margin-left: 20px;
	text-align: center;
	line-height: 35px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #2a7d8d;
	margin-bottom: 15px;
}
#Has_order .title_left
{
	background-color: #2a7d8d;
	float: left;
	height: 30px;
	width: 370px;
}
#Has_order .title_right
{
    background-image: url(../images/pop_up.png);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    float: right;
}
#Has_order .Has_order_Content
{
	height: 100%;
	width: 398px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #2a7d8d;
	border-bottom-color: #2a7d8d;
	border-left-color: #2a7d8d;
	position: relative;
	visibility: visible;
	overflow: auto;
	background-color: #FFF;
}
#Has_order .action-span
{
	width: 118px;
	float: left;
	margin-left: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#Has_order .action-span a
{
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 4px 5px 2px 23px;
    background: #DDEEF2 ;
    background-color: #80c1cc;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    text-align: center;
}
#Has_order .action-span a:hover
{
    background: #FFF ;
    color: #666;
    text-decoration: none;
    background-color: #ddeef2;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    font-weight: normal;
}
#Has_order .action-span1
{
    float: right;
    width: 118px;
    margin-right: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#Has_order .action-span1 a
{
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 4px 5px 2px 23px;
    background: #DDEEF2 ;
    background-color: #80c1cc;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    text-align: center;
}
#Has_order .action-span1 a:hover
{
    background: #FFF ;
    color: #666;
    text-decoration: none;
    background-color: #ddeef2;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #666;
    border-bottom-color: #666;
    font-weight: normal;
}
#Has_order .cls_container
{
    width: 265px;
    font-size: 14px;
    height: 100%;
    float: left;
    margin-left: 64px;
    font-weight: normal;
    text-decoration: none;
    color: #2a7d8d;
    list-style-type: none;
}
#Has_order .cls_container ul
{
    list-style-type: none;
    padding: 0px;
}
#Has_order .cls_container ul li
{
    height: 24px;
    width: 265px;
    float: left;
    display: list-item;
}
#Has_order .cls_container ul li a
{
    font-family: "宋体";
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}
#Has_order .cls_container ul1
{
    list-style-type: none;
    padding: 0px;
}
#Has_order .cls_container ul1 li1
{
    height: 24px;
    width: 265px;
    display: list-item;
    text-align: right;
    float: right;
}
#Has_order .cls_container ul1 li1 a
{
    font-family: "宋体";
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    float: right;
    text-align: right;
    font-weight: bold;
}
