<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>WirelessOrderWeixin</display-name>
	<!-- sessionListener -->
	<listener>
		<listener-class>com.wireless.listener.SessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>filter</filter-name>
		<filter-class>com.wireless.filter.RequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>com.wireless.Actions.init.InitServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<!-- Below is the configuration parameters to database adaptor -->
		<init-param>
			<param-name>db_name</param-name>
			<param-value>wireless_order_db</param-value>
		</init-param>
		<init-param>
			<param-name>db_host</param-name>
			<param-value>192.168.33.100</param-value>
		</init-param>
		<init-param>
			<param-name>db_port</param-name>
			<param-value>3306</param-value>
		</init-param>
		<init-param>
			<param-name>db_user</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>db_pwd</param-name>
			<param-value>HelloZ315</param-value>
		</init-param>
		<!-- Below is the configuration parameters to socket -->
		<init-param>
			<param-name>socket_host</param-name>
			<param-value>127.0.0.1</param-value>
		</init-param>
		<init-param>
			<param-name>socket_port</param-name>
			<param-value>55555</param-value>
		</init-param>
		<init-param>
			<param-name>wxServer</param-name>
			<param-value>wx.e-tones.net</param-value>
		</init-param>
		<init-param>
			<param-name>imageBrowseDefaultFile</param-name>
			<param-value>http://food-image-test.oss.aliyuncs.com/nophoto.jpg</param-value>
		</init-param>
		<init-param>
			<param-name>imageUploadMaxSize</param-name>
			<param-value>300</param-value>
		</init-param>
		<init-param>
			<param-name>imageUploadType</param-name>
			<param-value>jpg,gif,png,bmp</param-value>
		</init-param>
		<init-param>
			<param-name>oss_access_id</param-name>
			<param-value>KMLtoTwkG5Jqaapu</param-value>
		</init-param>
		<init-param>
			<param-name>oss_access_key</param-name>
			<param-value>VZtrdLaO6WFcJQrvffO9XBPVpbKGRP</param-value>
		</init-param>
		<init-param>
			<param-name>oss_inner_point</param-name>
			<param-value>oss.aliyuncs.com</param-value>
		</init-param>
		<init-param>
			<param-name>oss_outer_point</param-name>
			<param-value>oss.aliyuncs.com</param-value>
		</init-param>
		<init-param>
			<param-name>oss_bucket</param-name>
			<param-value>digie-image-test</param-value>
		</init-param>
		<init-param>
			<param-name>oss_bucket_image</param-name>
			<param-value>food-image-test</param-value>
		</init-param>
		<init-param>
			<param-name>oss_bucket_finance</param-name>
			<param-value>weixin-finance-test</param-value>
		</init-param>
		<init-param>
			<param-name>component_app_id</param-name>
			<param-value>wxaacb91075f189dff</param-value>
		</init-param>
		<init-param>
			<param-name>component_app_secret</param-name>
			<param-value>0c79e1fa963cd80cc0be99b20a18faeb</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>       <!-- 单位：分钟 -->
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>