.optName {
	float:right;
	font-weight:bold;
	font-size:22px;
	padding-top:15px;
	padding-right:10px;
	font-family: Ώ¬Με,Ώ¬Με_GB2312;
}

.loginOut {
	float:right;
	cursor:pointer;
/* 	padding-right: 10px;*/
	padding-top: 5px; 
	margin-right:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius:10px;
	/* behavior: url(../css/PIE.htc);  */
}

.loginOut:HOVER {
	background-color:#D1DEF1 ;
	border: 0px solid #000;  
	-webkit-box-shadow: 3px 5px 10px #ccc; 
	box-shadow: 3px 5px 10px black;
	behavior: url(../css/PIE.htc);
}