#tail,#print {
	font-weight: bold;
	font-size: 18px;
}

#shiftTitle {
	height: 40px;
	width: 450px;
	text-align: center;
	align: center;
	font-size: 15pt;
	font-family: 楷体, 楷体_GB2312;
	font-weight: bold;
}

#shiftContent {
	height: 30px;
	font-size: 12pt;
}

#shiftContentCheck {
	height: 20px;
	font-size: 11pt;
}


.shiftInfo {
	font-weight: bold;
}


.tab_icon {
     background-image:url(../images/icon_tb_setting.png) !important; 
}
.tab_home {
     background-image:url(../images/home.png) !important; 
}
.font{
	font-size: 18px;
	font-weight: bold;
	margin-top: 3px;
}
.tFont{
	font-size: 20px;
	font-weight: bolder;
	margin-top: 2px;
}

.unModuleFont{
	font-size: 20px;
	font-style : italic;
	margin-top: 2px;
}
.floatBar {
	background-image: -webkit-linear-gradient(to top, #000000, #000000);
	/* background-image: -moz-linear-gradient(to bottom, #B5DEF2, #85CFEE); */
	border: 1px solid #fff;
	/* border-radius: 10px; */
	box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
	color: black;
	font: bold 12px Arial;
	padding: 1px 10px;
}
.left{
	text-align:left;font-size: 14px;margin-bottom: 3px
}
.cLeft{
	color:#15428B;text-align:left;font-size: 15px;margin-bottom: 3px
}
.floatBarStyle{
	color: black
}
.disableInput{
	font-size:14px;font-weight:bold;color:green
}


