#divCreateOrder{
	background: #4682B4; 
}

#divNorthForCreateOrder{
	width: 100%; 
	height: 121px; 
	border-bottom: 1px solid #fff;
}

#divCenterForCreateOrde{
	width:100%; 
	box-flex: 1;
	-webkit-box-flex: 1;
}
#divSelectDeptForOrder div[class="button-base-deptKitchen"]{
	margin-right: 1px;
	line-height: 60px;
}
#divSelectDeptForOrder{
	overflow: hide;
	height: 60px;
}

#divSelectKitchenForOrder div[class="button-base-deptKitchen"]{
	margin-right: 1px;
	line-height: 60px;
}
/*
//FIXME
	³ø·¿·ÖÒ³
*/

#divSelectKitchenForOrder{
	
	/* width: 100%;  */
	overflow: hide;
	margin-top: 1px;
	height: 60px;
}

#divDescForCreateOrde{
	width: 100%;
	height: 25px;
	line-height: 25px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: #FFD700;
	text-align: right; 
	font-weight: bold;
}

#divSouthForCreateOrde{
	width:100%;
	line-height: 60px;
}

#divCFCOHandler{
	width: 80px; 
	border-left: 1px solid #fff; 
	border-right: 1px solid #fff; 
	text-align: center;
}
#divCFCOHandler div{
	width: 100%;
	line-height: 60px;
	margin-bottom: 1px;
}

#divCFCOAllFood{
	
}

.div-deptOrKitchen-select{
	line-height: 60px;
	color: #fff;
	background: #228B22 !important;
	margin-right: 1px;
}

#divCFCONewFood{
	width: 300px; 
	overflow-y: auto; 
	font-size: 20px;
}
#divCFCONewFood div[data-type="newFood-select"]{
	width: 100%; 
	border-bottom: 2px solid #ddd; 
	min-height: 70px; 
	background: #87CEEA;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 20px;
}
.div-newFood-select{
	color: #fff;
	background: #228B22 !important;
}

#divOperateBoxForFoodTaste{
	width: 640px; 
	height: 560px; 
	background: #4682B4;
	border: 1px solid #FFF;
}

#divSouthForOperateTaste{
	width:100%;
	line-height: 60px;
}

#divSearchToolbarForCreateOrder > div{
	line-height: 60px;
}

#divTempFoodForCreateOrder{
	width: 600px;
	height: 550px;
	background: #4682B4;
	border: 2px solid #FFF;
}

#txtNameForCOTF{
	width: 492px;
}
#txtPriceForCOTF, #txtCountForCOTF{
	width: 190px;
}

#divKeyBoyForCOTF > div{
	width: 80px;
	line-height: 60px;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	font-weight: bold;
	font-size: 28px;
}

#divKitchenSelectForCOTF > div[class="main-box-base"]{
	text-align: center;
	line-height: 70px;
}

.div-tempFood-select{
	color: #fff;
	background: #228B22 !important;
	line-height: 70px;
	text-align: center;
}


#divNumForFoodAlias{
	width: 280px;
	height: 300px;
	margin: 10px 0 0 30px;
}


#divNumForFoodAlias > div[class*=button-base]{
	width: 80px;
	line-height: 60px;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	font-weight: bold;
	font-size: 28px;
}

#divNumForTempTaste{
	width: 280px;
	height: 280px;
	margin: 10px 0 0 30px;
}

#divNumForTempTaste > div[class*=button-base]{
	width: 80px;
	line-height: 60px;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	font-weight: bold;
	font-size: 28px;
}

.tasteFloat{
	width: 100%; height: 220px;position : absolute;bottom : 90px;left: 383px;z-index:9999;background: MediumPurple; border: 1px solid #FFF;display: none;
}

.show_tasteFloatBackGround{
	background-color: #87CEEA;
}

.select_tasteFloatBackGround{
	background-color: yellow;
}
