* {margin:0; padding:0; outline:none}
body {
	font:12px Verdana,Arial;
	margin:28px;
	color:#091f30;
	background-color: #d8ebef;
	height: 50px;
	
}

.Content{
	border: 1px solid #2a7d8d;
	clip: rect(0px,auto,15px,auto);
}
.sortable {
	width:100%;
	border-left:1px solid #c6d5e1;
	border-top:1px solid #c6d5e1;
	border-bottom:none;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
}
.sortable th {
	text-align:center;
	color:#2a7d8d;
	border:1px solid #c6d5e1;
	border-left:none;
	background-color: #92cfd6;
}
.sortable th h3 {
	font-size:12px;
	padding:6px 8px 8px;
	text-decoration: none;
	font-family: "宋体";
}
.sortable td {
	padding:4px 6px 6px;
	border-bottom:1px solid #c6d5e1;
	border-right:1px solid #c6d5e1;
	text-align: center;
}
.sortable .head h3 {
	cursor:pointer;
	padding-left:18px;
	background-color: #92cfd6;
}
.sortable .desc, .sortable .asc {
}
.sortable .desc h3 {background:url(images/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .asc h3 {
	/*background:url(images/asc.gif) 7px  center no-repeat;*/
	cursor:pointer;
	padding-left:28px
}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {
	color:#fff;
}
.sortable .evenrow td {background:#fff}
.sortable .oddrow td {background:#ecf2f6}
.sortable td.evenselected {background:#ecf2f6}
.sortable td.oddselected {background:#dce6ee}

#controls {
	width:460px;
	height:30px;
	margin-top: 0;
	margin-right: 50px;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 10px;
	float: right;
}
#perpage {
	text-align: center;

}
#perpage select {
	float:left;
	font-size:12px
}
#perpage span {
	float:left;
	margin-top: 2px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 3px;
}
#navigation {
	float:left;
	width:auto;
	text-align:center
}
#text {
	float:left;
	width:200px;
	text-align:center;
	margin-top:2px
}

html,body{
	font-size:12px;
	height:100%;
	margin-top: 8px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.mesWindow{background-color: transparent; border-bottom-style: none; border-right-style: none; border-top-style: none; border-left-style: none;}
.mesWindowTop{border-bottom:#eee 1px solid;margin-left:4px;padding:3px;font-weight:bold;text-align:left;font-size:12px;}
.mesWindowContent{margin:4px;font-size:12px;}
.mesWindow .close{height:15px;width:28px;border:none;cursor:pointer;text-decoration:underline;background:#fff}

/* by ccui */
.payfortable{ width:100%;}
.payfortable th,.payfortable td{ border-bottom:1px solid #ccc; line-height:30px;}

#wrap { float: left; width: 800px; overflow: hidden; height: 480px; position:relative;}
#list{ width:1000%; position: absolute; left: 0px; top: 0px;}
#left_btn{ float:left; width:100px; height:180px; background:url(../images/left_btn.gif) no-repeat 50%;cursor: pointer; margin:150px 0;}
#right_btn{ float:left; width:100px; height:180px; background:url(../images/right_btn.gif) no-repeat 50%;cursor: pointer; margin:150px 0;}
.item{ float:left; width:800px; height:480px; overflow:hidden; background:#fff;}

.table_list li{ float:left; background:url(../images/table_null.gif) no-repeat 50%; border:1px solid #ccc; width:62px; height:32px; display:block; margin:20px 28px; padding:40px 0 0 10px; font-size:18px; font-weight:bold; color:#fff; cursor:pointer;}
.table_list li.on{ background:url(../images/table_on.gif);}